[submodule "script/dojo"]
	path = script/dojo
	url = C:/Users/Andre/work/externals/dojo
[submodule "script/dojox"]
	path = script/dojox
	url = C:/Users/Andre/work/externals/dojox
[submodule "script/dijit"]
	path = script/dijit
	url = C:/Users/Andre/work/externals/dijit

